@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-primary: #feaf00;
  --color-primary-dark: #ff8500;
  --color-primary-light: #f8d442;
  --color-black: #000000;
  --color-black-transparent: #00000080;
  --color-white: #ffffff;
  --color-off-white: #fdfdfd;
  --color-ghost-white: #f8f8ff;
  --color-gray-darkest: #282828;
  --color-gray-darker: #333333;
  --color-gray-dark: #6c6c6c;
  --color-gray-medium: #8080808c;
  --color-gray: #c4c4c4;
  --color-gray-light: #cdcdcd;
  --color-gray-lighter: #e5e5e5;
  --color-gray-lightest: #f1f1f1;
  --color-cream: #f2eae1;
  --color-cream-transparent: #f2eae1b2;
  --color-error: #fe0000;
  --color-overlay: #384eb74d;
}

.main {
  overflow: auto;
}

.bg-gradient {
  background: linear-gradient(
    90deg,
    var(--color-primary-dark),
    var(--color-primary-light)
  ) !important;
}

.bg-color-primary {
  background-color: var(--color-primary) !important;
}

.bg-color-cream {
  background-color: var(--color-cream) !important;
}

.bg-blur {
  background-color: var(--color-black-transparent);
  backdrop-filter: blur(30px);
}

.border-gray-lighter {
  border: 1px solid var(--color-gray-lighter) !important;
}

.text-gray-dark {
  color: var(--color-gray-dark);
}

.text-gray-medium {
  color: var(--color-gray-medium);
}

.text-primary {
  color: var(--color-primary) !important;
}

.w-fit {
  width: fit-content !important;
}

.max-w-664 {
  max-width: 664px !important;
}

.w-476 {
  width: 476px !important;
}

.bl-primary-light {
  border-left: 6px solid var(--color-primary-light) !important;
}

.profile-img {
  width: 128px;
}

.product-card {
  box-shadow: 8px 8px 4px 0px #00000040;
  width: 208px;
  height: 208px;
  cursor: pointer;

  img {
    object-fit: cover;
  }
}

.overly {
  background-color: var(--color-cream-transparent);
  opacity: 0;
}

.overly:hover {
  opacity: 1;
}

.product-img {
  width: 373px;
  height: 373px;
  object-fit: cover;
}

.back-icon {
  width: 40px;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.pagination {
  gap: 1rem !important;
}

.pagination-btn.disabled span,
.pagination-btn a,
.pagination-btn span {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem !important;
  cursor: pointer !important;
  color: var(--color-gray-darker);
  background-color: white !important;
  z-index: 0 !important;
}

.pagination-btn.active span {
  background-color: var(--color-primary) !important;
  border: none;
}

.custom-file-upload {
  cursor: pointer !important;
  border: 1px dashed var(--color-overlay) !important;
  border-radius: 4px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 5rem;
  color: var(--color-primary);
  padding: 3rem;
  background-color: var(--color-ghost-white);
  height: 210px;

  img {
    position: absolute;
    width: 208px;
    height: 208px;
    object-fit: cover;
  }
}

.sign-up-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 2rem;

  img {
    width: 98px;
    height: 98px;
    object-fit: cover;
  }
}
